<h1><%=@game.player_1.name %> vs. <%=@game.player_2.name %></h1>

<div> <%=@game.player_1.name%>: <%= @game.player_1.hit_points %> HP </div>
<div> <%=@game.player_2.name%>: <%= @game.player_2.hit_points %> HP </div>

<form action="/attack">
  <div>
    <input type="submit" value="Attack!">
  </div>
</form>
